<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <title>Sinais</title>
    </head>
    <body>
        <form action="/" method="post">
            <p>Sinais</p>
            <p>Formato:</p>
            <p>HORA;PARIDADE;DIREÇÃO;EXPIRAÇÃO</p>
            <p>20:30;EURUSD;CALL;5</p>

            <p><input type="radio" name="balance" value="PRACTICE" checked> DEMO</p>
            <p><input type="radio" name="balance" value="REAL"> REAL</p>
            <p><input type="text" name="sinal" placeholder="sinal"></p>
            <p><input type="text" name="valor" placeholder="R$"></p>
            <p><input type="email" name="email" placeholder="email"></p>
            <p><input type="password" name="senha" placeholder="senha"></p>
            <p><input type="submit" value="Enviar"></p>
        </form>
    </body>

</html>